* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', Georgia, serif;
}

body {
	font-family: 'Inter', Arial, sans-serif;
    margin: 40px
}

img {
    width: 100%;
}

.photo-gallery ul , footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.photo-gallery ul li {
    padding: 5px;
}

footer ul li {
    padding: 5px;
}

footer {
    margin-top: 50px;
    text-align: center;
}

input, label {
    display: block;
    margin: 5px 0;
}

.checkbox {
    display: inline;
}
figure {
    margin: 0;
}